body {
  background-color: rgb(34, 176, 223);
  font-family: Montserrat;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#banner {
    background-image: url("../media/gradient_wallpaper.jpg");   
    padding: 100px;
    width: 100%;
    height: 70vh;
    display: flex;
    background-size: cover;
    background-position: center;
    color: white;
}

@media (max-width: 770px) {
  #banner {
    height: 55vh;
}

  .myphoto {
    display: none;
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}

.myphoto {
    height: auto;
    width: 210px;
    border: 3px solid black;
    border-radius: 10px;
}

div.block {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: justify;
}

#container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

#standard {
  text-decoration: none;
  color: #ffffff;
  background-color: #f00010;
  border-radius: 30px;
  padding: 20px;
  display: block;
  margin: 20px;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: min(90%, 600px);
    box-sizing: border-box;
}

footer {
    background-color: rgb(255, 255, 255);
    margin-top: auto;
    text-align: center;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

#copy{
    font-family: Bona Nova;
}

.info-extra {
  display: none;
  margin-top: 20px;
  font-size: 18px;
}

.block.activa .info-extra {
  display: block;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}