body {
  background-color: lightblue;
  font-family: Montserrat;
}

div.col-6{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
}

.myphoto {
    width: 180px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
}